:root {
    --lato: "Lato", sans-serif;
    --russo-one: "Russo One", sans-serif;

    --w-container: 1440px;
    --accent: #F658BA;
    --light: #FFFAFD;
    --dark: #000000;
    --dark-rgb: 0, 0, 0; 

    --tr: 0.3s;
}

html, body {
    height: 100vh;
}

body {
    font-family: var(--lato);
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: var(--w-container);
    background-color: var(--light);
    margin: 0 auto;
    padding-left: clamp(15px, 3vw, 75px);
    padding-right: clamp(15px, 3vw, 75px);
    box-sizing: border-box;
    border-radius: 16px;
    border: 6px solid #ffffff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}
.header__logo {
    display: block;
    height: 61px;
    width: 200px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-color: cover;
}
.header__nav {
    display: flex;
    gap: 34px;
}
.header__link {
    color: rgba(var(--dark-rgb), 0.75);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3.15px;
    text-transform: lowercase;
    transition: var(--tr);
}
.header__link:hover {
    color: var(--accent);
}
.main {
    position: relative;
} 
.main__img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.main__img._lines {
    top: 100px;
}
.main__img._toy {
    bottom: 0;
}
.main__title {
    color: rgba(var(--dark-rgb), 0.75);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    max-height: 270px;
    position: absolute;
    top: 28px;
    right: 0;
    writing-mode: vertical-lr;
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: 'a . ' 'c b';
    align-items: center;
    gap: 80px 0;
    padding-top: 180px;
    padding-bottom: 120px;
}
.grid__item:nth-child(1) {
    grid-area: a;
}
.grid__item:nth-child(2) {
    grid-area: b;
    justify-self: end;
    align-self: end;
}
.grid__item:nth-child(3) {
    grid-area: c;
    align-self: end;
    margin-bottom: 30px;
    z-index: 1;
}
.grid__title {
    color: var(--accent);
    font-family: var(--russo-one);
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5.6px;
    text-transform: lowercase;
}
.grid__description {
    color: rgba(var(--dark-rgb), 0.75);
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}
.grid__item:nth-child(1) .grid__description {
    max-width: 332px;
}
.grid__item:nth-child(2) .grid__description {
    max-width: 302px;
    margin-top: 0;
    margin-bottom: 36px;
}
.grid__item:nth-child(1) .grid__title {
    margin-top: 0;
    margin-bottom: 24px;
}
.grid__item:nth-child(2) .grid__title {
    margin-top: 0px;
    margin-bottom: 28px;
}
.grid__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    max-width: 320px;
    color: var(--dark);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 30px 0px;
    border-radius: 40px;
    box-shadow: 0px 0px 40px 0px rgba(var(--dark-rgb), 0.13);
}
.grid__link::after {
    content: '';
    display: block;
    background-image: url(../images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 27px;
}
